# Conexão com postgres e Relatorios do Sistema

## Instalando biblioteca de acesso com postgres e manipulação de dados e gráficos

In [4]:
!pip install psycopg2
!pip install --user seaborn
!pip install --user pandas

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/bc/2a/61a8f9719bd6df5b421abd91740cb0595fc3c17b28eaf89fe4f144472ca6/psycopg2-2.7.6.1-cp36-cp36m-manylinux1_x86_64.whl (2.7MB)
    100% |████████████████████████████████| 2.7MB 193kB/s ta 0:00:01
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.6.1
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: seaborn in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: scipy in /opt/conda/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from matplotlib->seaborn)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages/cycler-0.10.0-py3.6.egg (from matplotlib->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 in /opt/conda/lib/python3.6/site-packages (from matplotlib->seaborn)
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2 in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.7.0 in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

### Importando bibliotecas

In [6]:
import seaborn as sns
import pandas as pd
import psycopg2

### Usando psycopg2 para configurar conexão

In [7]:
conn = psycopg2.connect(host="elmer.db.elephantsql.com", port="5432", database="aiexkamd", user="aiexkamd", password="QpfBdkd4AT2chCRjdjGbPPoSXdctwU9y")

## Obtendo dados do database com Pandas

# Relatório 1

### Objetivo: Retirar Medicamentos Solicitados

Código para obtenção do resultado:

In [8]:
result1 = pd.read_sql_query("""
                            SELECT pe.nome AS "Paciente", me.nome AS "Medicamento", mp.quantidade AS
                            "Quantidade", so.estadosolicitacao AS "Estado" FROM pessoa AS pe
                            INNER JOIN titular AS ti ON (ti.idpessoa = pe.idpessoa)
                            INNER JOIN solicitacao AS so ON (so.idtitular = ti.idpessoa)
                            INNER JOIN medicamento_posto AS mp ON (mp.idmedicamentoposto =
                            so.idmedicamentoposto)
                            INNER JOIN medicamento AS me ON (me.idmedicamento = mp.idmedicamento)
                            WHERE estadosolicitacao = 2 limit 10;
                            """,conn)

In [9]:
result1

                     Paciente                  Medicamento  Quantidade  Estado
0     Alegra Porto Gama Ramos   BENZILPENICILINA BENZATINA           8       2
1     Raíssa Camões Cerejeira       ÁCIDO ACETILSALICÍLICO          20       2
2      Margarita Vilela Lange                NORETISTERONA          18       2
3      Margarita Vilela Lange       ISOSSORBIDA, DINITRATO           5       2
4      Margarita Vilela Lange                  RIFAMPICINA           7       2
5          Eleonora Locatelli        VERAPAMIL, CLORIDRATO          15       2
6  Kin Faleiros Saramago Leme                   ISONIAZIDA           5       2
7  Fausto Farias Carmo Menino  PREDNISOLONA,FOSFATO SÓDICO           6       2
8          Valentim Fortaleza   METOCLOPRAMIDA, CLORIDRATO          13       2
9               Mingmei Souza                 SINVASTATINA           4       2

# Relatorio2

### Medicamentos mais retirados por quantidade

codigo para obtenção do resultado:

In [19]:
result = pd.read_sql_query("""
                            SELECT me.nome, SUM(re.quantidademedicamentos) AS "Quantidade" FROM medicamento
                            AS me
                            INNER JOIN medicamento_posto AS mp ON (mp.idmedicamento = me.idmedicamento)
                            INNER JOIN recebimento AS re ON (re.idmedicamentoposto = mp.idmedicamentoposto)
                            GROUP BY me.idmedicamento
                            ORDER BY "Quantidade" DESC limit 10;
                            """,conn)

In [20]:
result

                             nome  Quantidade
0           VERAPAMIL, CLORIDRATO          23
1  TIAMINA (CLORIDRATO/PALMITATO)          22
2         PROMETAZINA, CLORIDRATO          22
3      BENZILPENICILINA BENZATINA          20
4                      TALIDOMIDA          19
5    AMITRIPTILINA, CLORIDRATO DE          17
6                    SINVASTATINA          16
7    OMEPRAZOL E OMEPRAZOL SÓDICO          15
8             LOSARTANA POTÁSSICA          13
9                 SULFATO FERROSO          13

Alternativamente podemos aplicar estilos a tabela para melhor formatação usando pandas e seaborn

In [21]:
df = pd.DataFrame(result)
cm = sns.light_palette("green", as_cmap=True)
df.style.background_gradient(cmap=cm)

Podemos também utilizar o matplotlib que é instalado por padrão com o seaborn

In [ ]:
import matplotlib.pyplot as plt
plt.plot(df.nome, df.Quantidade)

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
 
objects = tuple(df.nome)
y_pos = np.arange(len(objects))
performance = list(df.Quantidade)
 
plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Quantidade')
plt.title('Nome')
 
plt.show()

References

## Relatório 3

### Objetivo: Medicamentos mais solicitados por quantidade

codigo para obtenção do resultado:

In [26]:
result = pd.read_sql_query("""
                            SELECT me.nome, SUM(me.idmedicamento) AS "Quantidade" FROM medicamento AS me
                            INNER JOIN medicamento_posto AS mp ON (mp.idmedicamento = me.idmedicamento)
                            INNER JOIN solicitacao AS so ON (so.idmedicamentoposto = mp.idmedicamentoposto)
                            GROUP BY me.idmedicamento
                            ORDER BY "Quantidade" DESC limit 10;
                            """,conn)

In [27]:
result

                                                nome  Quantidade
0                    SULFAMETOXAZOL com TRIMETOPRIMA         672
1                                         PREDNISONA         276
2                                         TALIDOMIDA         258
3                              VERAPAMIL, CLORIDRATO         182
4  RIFAMPICINA com ISONIAZIDA com PIRAZINAMIDA co...         152
5                         METOCLOPRAMIDA, CLORIDRATO         147
6  TUBERCULINA (DERIVADO PROTEICO PURIFICADO ) PP...          88
7                                         ISONIAZIDA          87
8                     TIAMINA (CLORIDRATO/PALMITATO)          87
9                                    SULFATO FERROSO          85

## Relatório 4

### Objetivo: Medicamento mais Retirados por número retiradas

codigo para obtenção do resultado:

In [32]:
result = pd.read_sql_query("""
                            SELECT me.nome, COUNT(me.idmedicamento) AS "Número de Retiradas" FROM
                            medicamento AS me
                            INNER JOIN medicamento_posto AS mp ON (mp.idmedicamento = me.idmedicamento)
                            INNER JOIN recebimento AS re ON (re.idmedicamentoposto = mp.idmedicamentoposto)
                            GROUP BY me.idmedicamento
                            ORDER BY "Número de Retiradas" DESC limit 10;
                            """,conn)

In [33]:
result

                             nome  Número de Retiradas
0          BUPROPIONA, CLORIDRATO                    4
1                    SINVASTATINA                    4
2           VERAPAMIL, CLORIDRATO                    4
3                      TALIDOMIDA                    3
4                 SULFATO FERROSO                    3
5  TIAMINA (CLORIDRATO/PALMITATO)                    3
6      BENZILPENICILINA BENZATINA                    3
7         PROMETAZINA, CLORIDRATO                    3
8    AMITRIPTILINA, CLORIDRATO DE                    2
9    OMEPRAZOL E OMEPRAZOL SÓDICO                    2

In [ ]:
df = pd.DataFrame(result)
cm = sns.light_palette("blue", as_cmap=True)
df.style.background_gradient(cmap=cm)

import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
 
objects = tuple(df.nome)
y_pos = np.arange(len(objects))
performance = list(df.Numero_de_retiradas)
 
plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Numero_de_retiradas')
plt.title('nome')
 
plt.show()

In [34]:
df.columns

Index(['nome', 'Quantidade'], dtype='object')

# Referencias

https://pandas.pydata.org/pandas-docs/stable/style.html <br>
https://pythonspot.com/matplotlib-bar-chart/<br>
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html <br>